* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.identity-div, .identity-detail {
    padding-top: 60px;
    text-align: center;
}

.identity-radio {
    margin-left: 20px;
}

.identity-select {
    outline: none;
    border-radius: 5px;
    width: 150px;
    margin-left: 30px;
}

.identity-work {
    outline: none;
    line-height: 20px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 30px;
    border: 1px solid #aaaaaa;
}

.identity-select:focus,
.identity-work:focus {
    border: 1px solid blue;
}
